/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
	background-color: $lightGray;
	border: 0;
	height: 1px;
	margin-bottom: 25px;
}
